.form-outer{
    width: 40%;
    height: 100vh;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #abb7d1;
}

form{
    width: 70%;
    font-family: Courier New !important;
}

.input-group{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.input-group-half{
    width: 49%;
    float: left;
    z-index: 2;
}

.input-group-select{
    clear: both;
}
.input-group-half:first-of-type{
    margin-right: 2%;
}

input, select{
    width: 100%;
    height: 65px;
    font-size: 17pt;
    box-sizing: border-box;
    padding-left: 20px;
    border: none;
    font-family: Courier New;
    box-shadow: 0px 8px 15px -9px rgba(0, 0, 0, 0.6);
}

option{
    width: 100%;
    height: 50px;
}

label{
    font-size: 15pt;
    position: absolute;
    top:calc(50% - 15pt / 2);
    left: 20px;
    z-index: 4;
    color: gray;
    pointer-events: none;
    transition: 0.2s all ease-in-out;
    font-style: italic;
}

input:is(:focus, :valid) + label,  select:focus + label{
    transform: scale(0.9);
    top: calc(-15pt - 2px);
    left: 0;
    color: black;
}

select:valid + label{
    transform: scale(0.9);
    top: calc(-15pt - 2px);
    left: 0;
    color: black;
}

input[type=button]{
    background-color: #232240;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    z-index: 1;
}

input[name=origin]{
    padding-right: 50px;
}

form h1{
    margin-bottom: 50px;
}

.get-position-btn{
    position: absolute;
    right: 1px;
    top: 1px;
    width: 35px;
    height: calc(100% - 2px);
    background-image: url('../images/location.png');
    background-color: rgb(211, 211, 211);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;

    box-sizing: border-box;
    cursor: pointer;
    display: none;
}

#error{
    color:rgb(124, 0, 0);
    font-size: 15pt;
    font-weight: bold;
}

.genres-suggestions{
    position: absolute;
    bottom: translateY(100%); ;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid black;
    z-index: 5;
    display: none;
    background-color: white;
}

.genre-sugesstion{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(128, 128, 128);
    z-index: 4;
    font-size: 15pt;
    cursor: pointer;
}

.genre-sugesstion:hover{
    background-color: rgba(151, 151, 151, 0.411);
}