:root {
    --main-bg-color: white;
    --other-bg-color: #232240;
}

html{
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 11px;
}

*::-webkit-scrollbar-track {
    background: var(--main-bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--other-bg-color);
    border-radius: 10px;
    border: 1px solid var(--main-bg-color);
}
  
body{
    margin: 0;
    padding: 0;
    font-family:Courier New;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 100vh;
    
}

main{
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg-color);
}

.header-content{
    width: 100%;
    height: 85vh;
    box-sizing: border-box;
}

.header-first-half{
    position: absolute;
    left: 0;
    width: 80%;
    height: 85vh;
    box-sizing: border-box;
    background-color: var(--other-bg-color);
    color: white;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
    z-index: 2;
}

.header-first-half::before{
    content: '';
    box-sizing: border-box;
    width: 70vh;
    height: 70vh;
    border-radius: 50%;
    background-color: #abb7d1;
    position: absolute;
    top: -25vh;
    left: -25vh;
}

.header-second-half{
    position: absolute;
    right: 0;
    width: 50%;
    height: 85vh;
    box-sizing: border-box;
    background-color: #abb7d1;
    z-index: 1;
}

.header-second-half::after{
    content: '';
    box-sizing: border-box;
    width: 50vh;
    height: 25vh;
    border-top-left-radius: 25vh;
    border-top-right-radius: 25vh;
    background-color: var(--other-bg-color);
    position: absolute;
    bottom: 0;
    right: -18vh;
    z-index: -1;
}

.route-image{
    height: 70vh;
    position: absolute;
    left:58%;
    top:10vh;
    z-index: 4;
    transform: rotate(20deg);
}

a{
    text-decoration: none !important;
    color: black;
}

.header-link{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15vh;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    box-shadow: 0px 15px 22px -20px rgb(66, 68, 90);
}

.header-link-arrow{
    text-align: center;
    font-size: 20pt;
}

.app-info-div{
    width: 60%;
    position: absolute;
    top: 25vh;
    left: 10%;
    z-index: 1;
    mix-blend-mode:difference;
}

.name{
    width: fit-content;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 14px;
    font-size: 70pt;
    margin-bottom: 6vh;
}

.description{
    width: fit-content;
    font-size: 20pt;
}

.authors-div{
    color: white;
    position: absolute;
    bottom: 8vh;
    right: 20%;
    text-align: right;
    box-sizing: border-box;
    font-weight:normal;
    font-size: 20pt;
    mix-blend-mode:difference;
}

.message-box{
    position: fixed;
    bottom: 5vh;
    right: 5%;
    text-align: center;
    padding: 20px;
    width: 20%;
    opacity : 0;
    visibility: hidden;
    color: white;
    font-size: 22pt;
    transition: 0.5s opacity;
}

.msg-visible{
    opacity : 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Opcjonalnie, aby formularz był wyśrodkowany na całej wysokości ekranu */
    width: 100%;
    background-color: #232240;
}

.contact-form{
    width: 1000px;
    display: inline-block;
    padding: 30px;
    box-sizing: border-box;
}

.contact-form input[type="button"], .contact-form input[type="text"], .contact-form input[type="email"] {
    margin: 10px;
    width: 60%;
}

.contact-form input[type="button"] {
    background-color: #abb7d1;
    color: black;
}

footer h1 {
    color: white;
}  

textarea{
    margin: 10px;
    padding: 15px;
    font-size: 17pt;
    box-sizing: border-box;
}

.contact-form-outer-div {
    text-align: center; /* Wyśrodkowanie w pionie */
    width: 100%;
}

input[type="checkbox"]{
    height:initial !important;
    width:initial !important;
} 

label[for="contact_terms"]{
    color:white !important;
    font-size: 15pt;
    position: initial;
    top: initial;
    left: initial;
    z-index: initial;
    color: initial;
    pointer-events: initial;
    transition: initial;
    font-style: initial;
} 

.div_for_checkbox{
    width: 70%;
    align-items: center;
    
}