.form-outer{
    width: 40%;
    height: 100vh;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #abb7d1;
}

form{
    width: 70%;
    font-family: Courier New !important;
}

input[type=button]{
    background-color: #232240;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

input, select{
    font-family:Courier New;
    width: 100%;
    display: block;
    height: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    border: none;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16pt;
    text-align: center;
}

form h1{
    margin-bottom: 50px;
}

input:focus{
    border: none;
}

input[name="origin"], input[name="destination"]{
    width: 48%;
    float: left;
    
}

input[name="origin"]{
    margin-right: 4%;
}

#error{
    color:rgb(124, 0, 0);
    font-size: 15pt;
    font-weight: bold;
}