<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/playlist.css">
    <link rel="stylesheet" href="../static/styles/form.css">
    <link rel="icon" href="../static/images/logo.png">
    <title>Routify</title>
</head>
<body>
    <header>
        <div class="header-content">
            <img class="route-image" src="../static/images/route.png">
            <div class="header-first-half">
                <div class="app-info-div">
                    <div class="name">routify</div>
                    <div class="description">going somewhere? create your own playlist that will perfectly match your journey!</div>
                </div>
            </div>
            <div class="header-second-half">
                <div class="authors-div">
                    <div>Maciej Boguś</div>
                    <div>Łukasz Zieliński</div> 
                </div>
            </div>
        </div>
        <a href="#main">
            <div class="header-link">
                <div class="header-link-arrow">try it!<br>&or;</div>
            </div>
        </a>
    </header>
    <main>
        <a name="main"></a>
        <div class="form-outer">
            <form>
                <h1>provide information below to generate a playlist</h1>

                <div class="input-group input-group-half">
                    <div class="get-position-btn"></div>
                    <input type="text" name="origin" id="origin" required>
                    <label for="origin">going from</label>
                    
                </div>

                <div class="input-group input-group-half">
                    
                    <input type="text" name="destination" id="destination" required>
                    <label for="destination">going to</label>
                </div>

                <div class="input-group input-group-select">
                    <select name="mode" id="mode" required>
                        <option value="none" selected disabled hidden></option>
                        <option value = "driving">driving</option>
                        <option value = "walking">walking</option>
                    </select>
                    <label for="mode">walk or drive?</label>
                </div>

                <div class="input-group">
                    <input type="text" name="artist" id="artist" required>
                    <label for="artist">favourite artist</label>
                   
                </div>

                <div class="input-group">

                            <input type="text" name="genre" id="genre" required  autocomplete="off">
                            <label for="genre">favourite music genre</label>
                            <div class="genres-suggestions"></div>

                </div> 
                
                <input type="button" id="create_playlist_button" value="generate playlist">
                <span id="error"></span>
            </form>
            
        </div>
        <div class="playlist-outer">
            <div id="loading-icon"></div>
            <div class="playlist">
                <div class="tracks">
                    <div class="playlist-info">here will be displayed your generated playlist</div>
                    <div class="login"></div>
                </div>
            </div>
        </div>
        <div class="message-box"></div>
    </main>
    <footer>

    </footer>
</body>
<script src="../static/scripts/location.js"></script>
<script src="../static/scripts/script.js"></script>
</html>